{%load static%}
{% include 'header.html' %}


{% block header %}
    <link rel="stylesheet" href="{% static 'CSS/header.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/footer.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css'%}">  



    {% comment %} <link rel="stylesheet" href="{% static 'css/register.css'%}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/ulogin.css'%}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/cart.css'%}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/cust_details.css'%}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/about.css'%}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/placed_order.css'%}"> {% endcomment %}
{% endblock header %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}">
{% endblock body %}


{% block main %}
    <h1>This Is Main Section Of Block</h1>
{% endblock main %}

{% include 'footer.html' %}
