{%load static%}
{% include 'header.html' %}


{% block header %}
    <link rel="stylesheet" href="{% static 'CSS/header.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/footer.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/product.css'%}">  
    <link rel="stylesheet" href="{% static 'CSS/cart.css'%}">l
    <link rel="stylesheet" href="{% static 'CSS/placed_order.css'%}">
    <link rel="stylesheet" href="{% static 'CSS/pay.css'%}">
    <link rel="stylesheet" href="{% static 'CSS/myorder.css'%}">
    <link rel="stylesheet" href="{% static 'CSS/register.css'%}">



    {% comment %} <link rel="stylesheet" href="{% static 'CSS/ulogin.css'%}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'CSS/cust_details.css'%}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'CSS/about.css'%}"> {% endcomment %}
{% endblock header %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}">
{% endblock body %}


{% block main %}
    <h1>This Is Main Section Of Block</h1>
{% endblock main %}

{% include 'footer.html' %}
