{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'CSS/cart.css' %}">
{% endblock header %}

{% block main %}
<h1 class="h11">{{msg}}</h1>
<div class="row mt-4 unique-style-7">
    <div class="col-md-9 unique-style-8">
      <div class="mt-5 p-3 unique-style-9">
        <h4>Login Time : {{request.user.date_joined}}</h4>
        <br>
        <h4>Customer Details & Product Details</h4>
        <p class="p1"><strong>Customer Name:</strong> {{request.user.username}}</p>
        <p class="p1"><strong>Customer Email ID:</strong> {{request.user.email}}</p>
        <p class="p1"><strong>Customer Mobile:</strong> {{request.user.id}} </p>
      </div>
    </div>

    {% if items >= 1 %}
      <div class="col-md-3 mt-5 unique-style-10" id="cart">
        <h4>Price Details</h4>
        <hr>
        <p><strong>Total items:</strong> {{items}}</p>
        <p><strong>Total Amount:</strong> ₹{{amount}}</p>
        <p><strong>Saving Amount:</strong> ₹{{saving}}</p>
        <a href="/checkaddress" class="anchor">
            <button class="btn btn-success">Continue</button>
        </a>
      </div>
    {% endif %}


</div>
  <div class="row mt-5" id="order-summary">
    <h3>Order Summary</h3>
  </div>


  <div class="row">
    <div class="mt-3 p-3 unique-style-11">
          <div class="row">
            {% for c in cart %}
            <div class="col-md-4 unique-style-12 product-box">
                <img src="{{c.pid.image.url}}" class="card-img-top product-img" alt="{{c.pid.pname}}">
            </div>

              <div class="col-md-8 card-body unique-style-13 product-info">
                <h2>{{c.pid.pname}}</h2>
                <p class="card-text"><strong>Category:</strong> 
                    {% if c.pid.category == 1 %} Shoes {% elif c.pid.category == 2 %} Mobile {% elif c.pid.category == 3 %} Clothes {% elif c.pid.category == 4 %} Watch {% endif %}
                </p>
                <p class="card-text"><strong>Price:</strong> ₹<strong>{{c.pid.offer_price}}</strong> <del>₹{{i.price}}</del></p>
                <p class="card-text"><strong>Description:</strong> {{c.pid.description}}</p>
                <p class="card-text">
                    <label for="qty">Quantity:</label>
                    <a href="/updateqty/0/{{c.id}}/"><button class="btn btn-danger">-</button></a>
                    <input type="number" value="{{c.qty}}" class="quantity-input">
                    <a href="/updateqty/1/{{c.id}}/"><button class="btn btn-danger">+</button></a>
                </p>
                <a href="/product_details/{{c.pid.id}}/" class="btn btn-primary">See Details</a>
                <a href="/deletecart/{{c.id}}/" class="btn btn-danger">Remove</a>
              </div>
            {% endfor %}
          </div>
  </div>
</div>
{% endblock main %}
