<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSite</title>
    <link rel="stylesheet" href="static/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/header.css' %}">

</head>
<body>
  <div class="row">
    <nav class="navbar navbar-expand-lg bg-body-sbtl" style="background-color: #d1d8cf;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Amazon </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About US</a>
              </li>
             
              
              
              {% if request.user.is_authenticated %}
                
              
                
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>

              {% endif %}
              
              
              
              <li class="nav-item">
                <a class="nav-link" href="/cart">My carts</a>
              </li>

              
              
              {% if request.user.is_authenticated %}
              
              <li class="nav-item">
                <a class="nav-link" href="/myorder">My orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product_details">Product_details</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/details">{{username}} </a>
              </li>
             
              


              {% endif %}

              <li class="nav-item">
                <a class="nav-link" href="/login">WelCome - {{request.user.username}}</a>
              </li>
             
            </ul>
          
              

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button type="button" class="btn btn-primary">Search</button>
           </form>

            
          </div>
        </div>
      </nav>

          
</div>