{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}">
{% endblock body %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h4>Filter By Category</h4>
            <hr>
            <ul class="list-unstyled">
                <li><a href="/" class="li">All</a></li>
                <li><a href="/filterbycategory/1/" class="li">Shoes</a></li>
                <li><a href="/filterbycategory/2/" class="li">Mobiles</a></li>
                <li><a href="/filterbycategory/3/" class="li">Clothes</a></li>
                <li><a href="/filterbycategory/4/" class="li">Watchs</a></li>
            </ul>
            <hr>

            <h4>Sort By Price</h4>
            <hr>
            <ul class="list-unstyled">
                <li><a href="/sortbyprice/1/" class="li">High To Low</a></li>
                <li><a href="/sortbyprice/0/" class="li">Low To High</a></li>
            </ul>
            <hr>

           <h4>Filter By Price</h4>
            <hr>
            <form method="GET" action="/pricefilter/">
                <div class="form-group">
                    <label for="maxPrice">Max</label>
                    <input type="number" class="form-control" id="maxPrice" name="max" placeholder="Enter max price">
                </div>
                <div class="form-group">
                    <label for="minPrice">Min</label>
                    <input type="number" class="form-control" id="minPrice" name="min" value="0" placeholder="Enter min price">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Apply Filters</button>
            </form>
        </div>

        <div class="col-md-10">
          <div class="container">
            <div class="row">


              
             
                    {% for i in products %}
                    <div class="cardbody">
                        <div class="card">
                            <img src="{{ i.image.url }}" class="card-img-top" alt="{{ i.pname }}" height="100px">
                            <div class="card-body">
                                <h5 class="card-title">{{ i.pname }}</h5>
                                <p class="card-text">
                                    {% if i.category == 1 %}<strong>Shoes</strong>
                                    {% elif i.category == 2 %}<strong>Mobile</strong>
                                    {% elif i.category == 3 %}<strong>Clothes</strong>
                                    {% elif i.category == 4 %}<strong>Watch</strong>
                                    {% endif %}
                                </p>
                                <p class="card-text">Price: <strong>{{ i.offer_price }}</strong> <del>{{ i.price }}</del></p>
                                <p class="card-text">{{ i.description }}</p>
                                <a href="/product_details/{{ i.id }}/" class="btn btn-primary">See Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            



            </div>
        </div>
    </div>
</div>
{% endblock main %}
