{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Filter By Category</h4>
            <hr>
            <ul class="list-unstyled">
                <li><a href="/" class="li">All</a></li>
                <li><a href="/filterbycategory/1/" class="li">Shoes</a></li>
                <li><a href="/filterbycategory/2/" class="li">Mobile</a></li>
                <li><a href="/filterbycategory/3/" class="li">Clothes</a></li>
                <li><a href="/filterbycategory/4/" class="li">Watch</a></li>
            </ul>
            <hr>

            <p class="pp">Sort By Price</p>
            <hr>
            <ul class="list-unstyled">
                <li><a href="/sortbyprice/1/" class="li">High To Low</a></li>
                <li><a href="/sortbyprice/0/" class="li">Low To High</a></li>
            </ul>
            <hr>

            <p class="pp">Filter By Price</p>
            <hr>
            <form method="GET" action="/pricefilter/">
                <div class="form-group">
                    <label for="maxPrice">Max</label>
                    <input type="number" class="form-control" id="maxPrice" name="max" placeholder="Enter max price">
                </div>
                <div class="form-group">
                    <label for="minPrice">Min</label>
                    <input type="number" class="form-control" id="minPrice" name="min" value="0" placeholder="Enter min price">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Apply Filters</button>
            </form>
        </div>

        <div class="col-md-9">
            <div class="row">
                {% for i in products %}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-sm">
                            <img src="{{ i.image.url }}" class="card-img-top" alt="..." height="200px">
                            <div class="card-body">
                                <h5 class="card-title">{{ i.pname }}</h5>
                                <p class="card-text">
                                    {% if i.category == 1 %}<strong>Shoes</strong>
                                    {% elif i.category == 2 %}<strong>Mobile</strong>
                                    {% elif i.category == 3 %}<strong>Clothes</strong>
                                    {% elif i.category == 4 %}<strong>Watch</strong>
                                    {% endif %}
                                </p>
                                <p class="card-text">Price: <strong>{{ i.offer_price }}</strong> <del>{{ i.price }}</del></p>
                                <p class="card-text">{{ i.description }}</p>
                                <a href="/product_details/{{ i.id }}/" class="btn btn-primary">See Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}
