{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/myorder.css' %}">
{% endblock header %}

{% block main %}
<div class="myorder-container">
    <h1 class="heading">My Orders</h1>
    <table class="order-table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Payment Status</th>
            </tr>
        </thead>
        <tbody>
            {% for i in order %}
            <tr>
                <td>{{i.order_id}}</td>
                <td>{{i.user_id}}</td>
                <td>{{i.p_id}}</td>
                <td>{{i.qty}}</td>
                <td>{{i.amt}}</td>
                <td>{{i.payment_status}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock main %}
