{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/myorder.css' %}">
{% endblock header %}

{% block main %}
<div class="myorder-container">
    <h1 class="heading">My Orders</h1>
    <table class="order-table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User ID</th>
                <th>Product ID</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Payment Status</th>
            </tr>
        </thead>
        <tbody>
            {% for i in order %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock main %}
