{% extends 'base.html' %}

{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'CSS/placed_order.css'%}">
{% endblock header %}

{% block main %}
<div class="row m-3">
    <div class="col-md-9 mx-auto unique-style-14">
        <h2>Delivery Address<h2>
        {% for i in address %}

        <h4>
        
        Name : <b>{{i.fullname}}</b><br>
        Address : <b>{{i.address}}</b>
        City : <b>{{i.city}}(<b>{{i.pincode}}</b>)</b><br>
        State : <b>{{i.state}}</b><br>
        Mobile : <b>{{i.mobile}}</b>
        <h4>
          
        {% endfor %}
    </div>

    <div class="col-md-3 unique-style-15">

        <div  id="cart">
            <!-- <div class="col-md-3 mt-5 shadow" id="cart">   // Only For Shadow Refrence-->
             
              <h4>Price Details</h4>  
              <hr>
              <p><strong>Total items :</strong> {{items}} </p>
              <p><strong>Total Amount :</strong> {{amount}} Rs. </p>
              <p><strong>Saving Amount :</strong> {{saving}} Rs. </p>
              <p><strong>Final Amount :</strong> {{amount}} Rs. </p>
              <a href="/makepayment" class="anchor"><button class="btn btn-success">Make Payment</button></a>
              
            </div>

    </div>
</div>
{% endblock main %}