{% extends 'base.html' %}
{% load static %}


{% block main %}


<div class="card mb-3" style="max-width: 740px;"id="card">
    <div class="row g-0">
      
      {% for i in product %}
        
      
        
      <div class="col-md-4">
        <img src={{i.image.url}} alt="...">
      </div>  
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Product Details</h5><hr>
          <p class="card-text"><b>Product Name: </b>{{i.pname}}</p>
          <p class="card-text"><b>Category: </b>1</p>
          <p class="card-text"><b>Price: </b>2000.0 &nbsp; <del>4000Rs </del>(50% off)</p>
          <p class="card-text"><b>Color: </b>&nbsp;&nbsp;Red &nbsp;&nbsp; Black &nbsp;&nbsp; white </p>
          <p class="card-text"><b>Size: </b>&nbsp;&nbsp;7 &nbsp;&nbsp; 8 &nbsp;&nbsp; 9 &nbsp;&nbsp; 10 &nbsp;&nbsp; 11 </p>

          <p class="card-text"><b>Description:</b>Branded Shoes made by Puma</p>

          <button type="button" class="btn btn-danger" id="button">Add to Cart</button>
          <button type="button" class="btn btn-danger" id="button">View Cart</button>
          <button type="button" class="btn btn-danger" id="button">Shop More</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endblock main %}