{% extends 'base.html' %}
{% load static %}


{% block header %}  
<link rel="stylesheet" href="{% static 'CSS/product.css'%}">
{% endblock header %}



{% block main %}

<div class="card mb-3 unique-style-3" style="max-width: 740px;"id="card">
    <div class="row g-0">
      
      {% for i in product %}
        
      
        
      <div class="col-md-4 unique-style-4">
        <img src={{i.image.url}} alt="...">
      </div>  
      <div class="col-md-8 unique-style-5">
        <div class="card-body">
          
          {% if error %}
            <div class="alert alert-danger">
              {{error}}
            </div>  
          {% endif %}
            

          {% if success %}
            <div class="alert alert-success">
              {{success}}
            </div>  
          {% endif %}


          <h5 class="card-title">Product Details</h5><hr>
          <h6 class="card-text"><b>Product Name: </b>{{i.pname}}</h6>
          <h6 class="card-text"><b>Category: </b>1</p>
          <h6 class="card-text"><b>Price: </b>2000.0 &nbsp; <del>4000Rs </del>(50% off)</h6>
          <h6 class="card-text"><b>Color: </b>&nbsp;&nbsp;Red &nbsp;&nbsp; Black &nbsp;&nbsp; white </h6>
          <h6 class="card-text"><b>Size: </b>&nbsp;&nbsp;7 &nbsp;&nbsp; 8 &nbsp;&nbsp; 9 &nbsp;&nbsp; 10 &nbsp;&nbsp; 11 </h6>

          <h6 class="card-text"><b>Descriptions:</b>Branded Shoes made by Puma</h6>

          <a href="/addtocart/{{i.id}}"><button type="button" class="btn btn-danger" id="button">Add to Cart</button></a>
          <a href="/cart"><button type="button" class="btn btn-danger" id="button">View Carts</button></a>
          <a href="/"><button type="button" class="btn btn-danger" id="button">Shop More</button></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endblock main %}